.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.cards4  .single-card-movie{
  width: 20%;
  margin-bottom: 25px;
}

.cards6 .single-card-movie {
  width: 15%;
  margin-bottom: 25px;
}

.cards5 .single-card-movie{
  width: 18%;
  margin-bottom: 25px;
}

.cardBody {
  padding: 10px;
}

.btn {
    margin-left: 5px;
}

.card-img-top {
  width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}

.nav a{
    color: #444;
    text-decoration: none;
}

.nav a:hover{
    font-weight: bold;
}

.search-form, .filter-form {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5px;
}

.filter-form {
    grid-template-columns: 1fr;
}

.search-form .btn-sm{
    line-height: 1;
    font-size: 0.9rem;
}

.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}

.filter-form input {
    line-height: 1.5;
}