.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.cards4  .single-card-movie{
  width: 20%;
  margin-bottom: 25px;
}

.cards6 .single-card-movie {
  width: 15%;
  margin-bottom: 25px;
}

.cards5 .single-card-movie{
  width: 18%;
  margin-bottom: 25px;
}

.cardBody {
  padding: 10px;
}

.btn {
    margin-left: 5px;
}

.card-img-top {
  width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}
.nav {
    margin: 0 !important;
}
.nav a{
    color: #444;
    text-decoration: none;
}
.nav a:hover{
    font-weight: bold;
}